<p-dialog header="Editar usuário" [modal]="true" [(visible)]="mostrarAlterarUsuario" [style]="{ width: '25rem' }">
  <form [formGroup]="form">
    <div class="d-flex align-items-center mb-3">
      <label for="username" class="font-semibold pe-2">Nome:</label>
      <input formControlName="name" pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="d-flex align-items-center mb-3">
      <label for="email" class="font-semibold pe-2">Email:</label>
      <input formControlName="email" pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="d-flex align-items-center mb-3">
      <label for="age" class="font-semibold pe-2">Idade:</label>
      <input formControlName="age" pInputText id="age" class="flex-auto" autocomplete="off" />
    </div>
    <div class="d-flex justify-content-end">
      <p-button label="Cancelar" id="botaoFecharModal" class="pe-2" severity="secondary" (onClick)="fecharModal()" />
      <p-button label="Salvar" (onClick)="alterarUsuario()" />
    </div>
  </form>
</p-dialog>