<h1>Testando requisições HTTP</h1>

<h2>Get</h2>
<button pButton pRipple label="Submit" class="mt-2 mb-3 p-2" label="Listar usuários" (click)="getUsers()"></button>

<ul *ngIf="listaUsuarios !== undefined">
  <li class="ps-2" *ngFor="let usuario of listaUsuarios">
    <p>{{ usuario.name }}</p>
  </li>
</ul>
<p-divider></p-divider>

<h2>Get por ID</h2>
<button pButton pRipple label="Submit" class="my-2 p-2" label="GET por id" (click)="getUsersByID(3)"></button>
<p-divider></p-divider>

<h2>POST</h2>

<form [formGroup]="form">
  <div class="row">
    <input formControlName="name" pInputText class="col-lg-2" type="text" placeholder="Digite o nome">
    <input formControlName="email" pInputText class="col-lg-2" type="text" placeholder="Digite o email">
    <input formControlName="age" pInputText class="col-lg-2" type="text" placeholder="Digite a idade">
  </div>

  <button pButton label="Submit" class="mt-2" label="Fazer chamada POST" (click)="postUsers()"></button>
</form>